absl-py
astunparse
bitarray
bitstring
certifi
cffi
charset-normalizer
colorama
contourpy
cryptography
cycler
ecdsa
esptool
filelock
flatbuffers
fonttools
fsspec
gast
google-pasta
grpcio
h5py
idna
intelhex
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
mpmath
namex
networkx
numpy
opencv-python
opt_einsum
optree
packaging
pandas
pillow
protobuf
pycparser
Pygments
pyparsing
pyserial
python-dateutil
pytz
PyYAML
reedsolo
requests
rich
scikit-learn
scipy
setuptools
six
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
torch
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
